* {
    margin: 0px;
    padding: 0px;
}

 /* Note to self- Come back and organize/refactor. */

body {
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
}

button {
    height: 30px;
    width: 100px;
    background: rgb(95, 92, 92);
}

h1 {
    padding-top: 20px;
}

main {
    background-color: whitesmoke;
}

img {
    display: block;
    margin: 20px auto;
}

header {
    width: 100%;
    height: 100%;
    border-bottom: 10px solid #e4c2b2;
}

nav {
    text-align: right;
    padding: 10px 10px 10px 0px;
    background: #25624c;
}            

a {
    color: white;
    text-decoration: none;
}

li, ul {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
}

.center {
    text-align: center;
}

.contact {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    background: #e8cdc1;
    border-top: 5px solid #e3c2ae;
    padding: 10px;
}

footer {
    padding: 15px;
    background: #25624c; 
    border-bottom: 5px solid #4b4443;
    text-align: center;
}

form {
    border: 5px solid #e3c2ae;
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
}